<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="PolarissDBEntities" connectionString="metadata=res://*/POLARISSEDM.csdl|res://*/POLARISSEDM.ssdl|res://*/POLARISSEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stjohnbosco.ddns.net,5432;initial catalog=polariss_db;persist security info=True;user id=polariss_dba;password=Bosco@@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
